<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id        = "com.diogenesjunior.pesuas"
        version   = "1.0.20">

    <name>Pesuas</name>

    <description>
        Prontuário eletronico do Sistema Único de Assistência Social de Benjamin Constant-AM
    </description>

    <author href="https://www.fabricadeplugins.com.br/" email="contato@fabricadeplugins.com.br">
        Fabrica de Plugins e Diogenes Junior
    </author>
 
    

</widget>