<div class="card rounded-0" data-card-height="50">
    <div class="card-top">
        <a href="#" class="close-menu float-end me-2 text-center mt-3 icon-40 notch-clear"><i class="fa fa-times color-white"></i></a>
    </div>
    
    
</div>
<div class="mt-4"></div>
<img src="assets/images/Prancheta-1.png" alt="Atomic Labs Parceiros" style="width: 200px;height: auto;margin-bottom: 20px;margin-left: 13px;margin-top: -30px;">
<h6 class="menu-divider">MENU</h6>
<div class="list-group list-custom-small list-menu">
   
    <a href="" onclick="location.href='solicitar-saque.html'; app.views.saques();">
        <span>Solicitar saque</span>
        <i class="fa fa-angle-right"></i>
    </a>
    <a href="" onclick="location.href='relatorios.html'; app.views.relatorios();">
        <span>Relatórios</span>
        <i class="fa fa-angle-right"></i>
    </a>
    <a href="" onclick="location.href='produtos.html'; app.views.produtos();">
        <span>Produtos</span>
        <i class="fa fa-angle-right"></i>
    </a>
   
</div>
<h6 class="menu-divider mt-4">OUTRAS OPÇÔES</h6>
<div class="list-group list-custom-small list-menu">
    
    <a href="" onclick="location.href='dados-bancarios.html'; app.views.dadosBancarios();">
        <span>Dados Bancários</span>
        <i class="fa fa-angle-right"></i>
    </a>
    
    <a href="" onclick="abrirUrlBrowser(`https://api.whatsapp.com/send?phone=5511958421281&text=Ol%C3%A1,%20poderia%20me%20atender?`)">
        <span>Suporte</span>
        <i class="fa fa-angle-right"></i>
    </a>
    <a href="" onclick="app.logoff();">
        <span>Sair</span>
        <i class="fa fa-angle-right"></i>
    </a>
</div>
